{% extends 'app.html.twig' %}

{% block title %}Update{% endblock %}

{% block content %}

    <div class="container align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-header bg-dark text-white">
                        <h1>Update Profile</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <button class="btn btn-dark">Update</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
